#mainHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 0;
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #FFEB63; 
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.avatar {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.avatar img {
  height: 80%;
}

.myName {
  display: flex;
  justify-content: center;
  margin-top: -4em;
}

.myName span {
  font-family: Source Sans Pro, sans-serif;
  font-weight: lighter;
  color: #545149;
}

@media only screen and (min-width: 768px) {
  #mainHeader {
    z-index: 1;
    position: relative;
    width: 30%;
    height: 313px;
    top: 300px;
    margin-left: 1em;
  }

  .avatar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .avatar img {
    height: 80%;
  }
  
  .myName {
    display: flex;
    justify-content: center;
    margin-top: -4em;
  }
  
  .myName span {
    font-family: Source Sans Pro, sans-serif;
    font-weight: lighter;
    color: #545149;
  }
}