#mainHeader {
  z-index: 1;
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #FFEB63; 
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.avatar {
  position: relative;
  top: 50px;
  left: 50%;
  margin-left: -100px;

}

.avatar img {
  height: 75%;
  width: 75%;
}

.myName {
  position: absolute;
  top: 75%;
  left: 50%;
  margin-left: -96px;
}

.myName span {
  font-family: Source Sans Pro, sans-serif;
  font-weight: lighter;
  color: #545149;
}

@media only screen and (min-width: 768px) {
  #mainHeader {
    display: flex;
    align-self: flex-start;
    position: relative;
    width: 30%;
    height: 313px;
    top: 300px;
    margin-left: 1em;
  }
}