nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #28B6A0;
  z-index: 2;
  padding: 1.5em;
}

.home {
  font-family: 'Bungee';
  color: #ffffff;
  font-size: 1.75em;
}

#newTweet {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  position: relative;
  top: 44px;
}

nav div {
  display: flex;
  font-size: 24px;
  color: #ffffff;
}

#arrow {
  display: flex;
  font-size: 48px;
  background-color: transparent;
  border: transparent;
  color: white;
  position: relative;
  left: 1.50em;
  top: -.25em;
}

button:focus {
  outline: 0;
}

#arrow:hover {
  color: #FFEB63;
}

nav div span {
  display: flex;
  justify-content: center;
  font-family: Source Sans Pro, sans-serif;
  margin-right: 0.2em;
  font-weight: 800;
}

 /* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (max-width: 768px) {
  nav {
    background-color: transparent
  }

  nav div {
    color: #28B6A0;
  }

  #arrow {
    color: #28B6A0;
  }

  .home {
    color: #28B6A0;
  }
}