.new-tweet {
  margin-top: 2em;
  margin-bottom: 2em;
}

.new-tweet form {
  position: relative;
  height: 100px;
  top: -4px;
}

#errorMessage {
    margin: -24px;
    position: absolute;
    left: 44%;
    top: 15px;
    color: red;
    font-weight: 600;
}

.new-tweet textarea {
  position: absolute;
  width: 100%;
  height: 38px;
  bottom: 50px;
  resize: none;
  background-color: transparent;
  border: transparent;
  border-bottom: 3px solid #545149;
  font-weight: bold ;
}

.new-tweet input {
  position: absolute;
  bottom: 10px;
  background-color: #28B6A0;
  font-family: 'Bungee', sans-serif;
  font-weight: 600;
  color: white;
}

.counter {
  position: absolute;
  right: 0px;
  bottom: 10px;
  color: #545149;
  font-family: 'Bungee', sans-serif;
}

.negativeCounter {
  position: absolute;
  right: 0px;
  bottom: 10px;
  color: red;
  font-family: 'Bungee', sans-serif;
}