#tweetsContainer article {
  position: relative;
  height: 200px;
  border: #545149 solid 3px;
  margin-bottom: 2em;
}

#tweetsContainer .description {
  width: 95%;
  position: absolute;
  left: 2.5%;
  top: 65%;
}

.description p {
  position: absolute;
  top: -57px;
  opacity: 80%;
  left: 1%;
  right: 1%;
  font-weight: 600;
  font-size: 19px;
}

#tweetsContainer article .tweetFooter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 7em;
  margin-left: 1em;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  width: 95%;
}

.icons {
  font-size: 28px;
  opacity: 0%;
}

.tweetHeader {
  position: absolute;
  top: 22px;
  left: 2.5%;
  font-size: 16px;
  width: 95%
}
.headerAvatar {
  position: absolute;
  top: -7px;
  left: 0%;
  width: 48px;
}

.name {
  position: absolute;
  top: -16px;
  left: 62px;
  font-size: 22px;
}

.handle {
  position: absolute;
  top: -14px;
  right: 2%;
  font-size: 19px;
  opacity: 0%;
}

#tweetsContainer article:hover {
  box-shadow: 5px 5px 2px #FFEB63;
}

#tweetsContainer article:hover .handle {
  color: lightslategrey;
  opacity: 100%;
}

#tweetsContainer article:hover .description p {
  opacity: 100%;
}

#tweetsContainer article:hover .icons {
  font-size: 28px;
  color: #28B6A0;
  opacity: 100%;
}

@media only screen and (max-width: 768px) {
  .icons {
    opacity: 100%;
    font-size: 28px;
    color: #28B6A0;
  }

  .handle {
    color: lightslategrey;
    opacity: 100%;
  }
}





